/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ******************* CSS Reset Above This Line ******************* */


<style> /*
Roboto Mono - All text except h1*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
</style>

<style>  /*Chelsea Market - h1 text*/
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
</style>

* {
    box-sizing: border-box;  /*border and padding included in element size calculation, not in addition to. Margin is still not included.*/
    padding: 0; /*defaults everything to zero*/
    margin: 0; /*defaults everything to zero*/
    max-width: 100%; /*won't try to expand outside of its box, can't be bigger than parent*/
}

/* 1 rem = 10px instead of 16px browser default. */
html {
    font-size:62.5%
}



/* ******************* Section above this line is housekeeping ****************** */


/* Color the background of items in the navigation bar and footer with the following colors: */
/* Plan your Visit: `#FF764E` */
nav :first-child{
 background-color:#FF764E
}
/* Learn About the Park: `#5ED3EB` */
nav a:nth-of-type(2) {
    background-color:#5ED3EB;
}
/* Get Involved: `#FFCD69` */
nav :last-child{
    background-color:#FFCD69;
}

/* Change all font colors and styles according to design file */
    /* Yosemite Park Guide font is called Chelsea Market and can be found on [google fonts](https://fonts.google.com/specimen/Chelsea+Market) */
    /* All other text is Roboto Mono, also available on [google fonts](https://fonts.google.com/specimen/Roboto+Mono) */

body{
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
}

/* nav header and footer sections */
nav{
    text-align: center;
}

nav a{
    text-decoration:none;/*removes underline from links*/
    color:white;
    display:inline-block;
    border-radius:10px;
    margin:30px 3%;
    width:auto; 
    height:20px;
    padding:10px;  
    }


/* header */
h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 3rem;
}

.intro div {
    display: inline-block;
}

header section figure img {
    display: inline-block;
    border-radius: 50%;
    width: 15%;
    height: 15%;
}

/* History Section */

/* More Info Section*/
.more_info p {
    font-size: 1.5rem;
    color:red;
}

#info_bold {
    font-weight:900;
}

#more_info img{
    width: 10%;
    height: auto;
}

/* Footer */
footer img{
    width:100%;
    height: 200px;
    overflow:hidden;
    display: block;
}